@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-grey);
}

ul {
  list-style: none;
}

h1,
h2 {
  color: var(--dark-grey);
}

p {
  color: var(--charcoal-grey);
  line-height: 1.5;
}

/* Utility Classes */
.btn {
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-color: var(--dark-grey);
  padding: 15px 0;
  width: 92%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(to right, var(--tomato), var(--tomato));
}

/* Newsletter section */

#newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#newsletter .card {
  background-color: #fff;
  padding: 2rem 2rem 2rem 3rem;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  margin: 0 2rem;
  max-width: 900px;
}

#newsletter .card .card-content h1 {
  font-size: 50px;
  font-weight: 700;
}

#newsletter .card .card-content p {
  margin: 15px 0;
}

#newsletter .card .card-content ul li {
  margin: 20px 0;
  color: var(--charcoal-grey);
}

#newsletter .card .card-content ul li img {
  vertical-align: middle;
  margin-right: 10px;
}

#newsletter .card .card-content form label {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  display: block;
}

#newsletter .card .card-content form label span {
  position: absolute;
  right: 30px;
  color: var(--tomato);
}

#newsletter .card .card-content form input {
  display: block;
  width: 92%;
  border: 1px solid var(--grey);
  color: var(--grey);
  border-radius: 8px;
  padding: 15px;
  margin: 5px 0 20px;

}

/* Error Message */

#newsletter .card .card-content form input.error {
  border-color: var(--tomato);
  background-color: hsla(4, 100%, 67%, 0.156);
  color: var(--tomato);
}

#newsletter .card .card-content form input.error::placeholder {
  color: var(--tomato);
}

#newsletter .card .card-content form input:focus {
  outline: 1px solid var(--dark-grey);
}

/* TS Classes */
.hidden {
  display: none !important;
}

/* Success Message */
.success-msg {
  background-color: #fff;
  padding: 2rem 2rem 2rem 3rem;
  border-radius: 25px;
  max-width: 400px;
}

.success-msg h2 {
  font-size: 40px;
  margin-top: 15px;
}

.success-msg p {
  font-size: 14px;
  margin: 20px 0;
}

/* Responsive */

@media (max-width: 900px) {
  #newsletter .card {
    flex-direction: column-reverse;
    column-gap: 0;
    border-radius: 0;
    margin: 2rem;
    padding: 0rem 0 1rem;
  }

  #newsletter .card .card-content {
    padding: 4rem 2rem;
  }

  #newsletter .card .card-content h1 {
    font-size: 40px;
  }

  #newsletter .card .main-img {
    width: 100%;
  }

  #newsletter .card .card-content form input,
  .btn {
    width: 100%;
  }
}